@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=latin,cyrillic-ext);
html, body {
    height: 650px;
    font-family: Roboto Condensed, Helvetica;
}

h3 {
    font-weight: 100;
    color: #706e6e;
}


/*navigation*/

.navbar {
    background-color: #2bc0d4;
    margin-bottom: 0;
}

.nav-icon {
    display: inline;
}

.nav-button {
    margin-top: 3%;
    padding-left: 2%;
}

.logo {
    margin-top: 1%;
    padding-left: 10%;

}

.image-nav {
    /*margin-right: 2%;*/
}

.icon {
    margin-top: 3%;
    padding: 0 2% 0 0;
}

/*log in*/

.logoLogIn {
    padding-top: 10%;
    padding-left: 0;
    padding-bottom: 10%;
}


.text-area {
    height: 50px;
}

.formFields .text-area {
    margin-bottom: 5%;
    border-radius: 5%;
    border-style: solid;
    border-color: #2bc0d4;
/*    margin-top: 5%;*/
}

.btn {
    background-color: #2bc0d4;
    color: white;
    font-size: 20px;
}

.link {
    padding-top: 10%;
    padding-left: 0;
    font-size: 20px;
}

/*home*/
#home{
    height: 100%;
}

.homecontainer {
    height: 100%;
}
.containerHome {
    float: none;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}


.homeButton {

    height: 48%;
    margin-top: 2%;
}

#colourHomeButton {
    background-color: #3498db;
    height: 100%;
    margin-right: 2.5%;
}

.planner {
    height: 48%;
    margin-top: 2%;
}

#colourPlanner {
    background-color: #16a085;
    height: 100%;
    margin-left: 2.5%;
}

.friends {
    height: 48%;
    margin-top: 2%;
}

#colourFriends {
    background-color: #fbaf1b;
    height: 100%;
    margin-right: 2.5%;
}

.chat {
    height: 48%;
    margin-top: 2%;
}

#colourChat {
    background-color: #8e3d85;
    height: 100%;
    margin-left: 2.5%;
}

.button1 {
    padding: 0;
}

.position {
    position: relative;
    top: 60%;
    margin: auto;
}

#newMatches {
    position: relative;
    top: 50%;
}

.image {
    position: relative;
    top: 10%;
    display: block;
    margin: 0 auto;
}

#newMatches h3 {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}

 .position h3 {
    text-align: center;
    color: #ffffff;
    font-weight: 100;
}



/*Events*/

.containerEvent {
    height: 300px;
    padding-bottom: 8%; 
}
.createEvent {
    height: 100%;
    background-color: #16a085;
}


/*Add Event*/

.AddEvent .description{
    margin-top: 0;
}

.allEvents{
    background-color: #7abbc3;
    margin-bottom: 2%;
}

.allEvents h3 {
    color: white;
}

.event-box {
    border-bottom-style: solid;
    border-bottom-color: #7abbc3;
    border-bottom-width: 1px;
    padding-left: 2%;
}

.event-box img {
	float: left;
	margin-right: 10px;
}

/*event-box*/

.avatarEvent {
    padding-top: 5%;
}

.eventDiscription {
    text-align: center;
/*
    border-bottom-style: solid;
    border-bottom-color: #7abbc3;
    border-bottom-width: 1px;
    padding-left: 2%;
*/
}

.commentBox {
/*    margin-top: 10%;*/
    background-color: #2bc0d4;
    padding-top: 1%;
    padding-bottom: 1%;
}

.comment form-control{
    border: none;
}

.sendBtn1 {
    padding-top: 0;
    border: none;
}

/*menu*/

#menu2 {
    height: 100%;
    margin-top: 0;
}

.menu {
    height: 100%;
}

.menuItem {
    height: 8%;
    padding-left: 5%;
}

.line {
    width: 100%;
    height: 2%;
    background-color: #706e6e;
}

#signOutBtn {
    height: 100%;
    background-color: #2bc0d4;
    font-size: 20px;
    color: #ffffff;
}



/*App Settings*/

#appSettings2 {
    height: 100%;
    margin-top: 0;
    /*background-color: pink;*/
}

.appSettings {
    height: 100%;
    /*background-color: red;*/
}

.settingItem {
    height: 9%;
    margin-top: 2%;
    margin-bottom: 10%;
    /*padding-left: 5%;*/
    /*background-color: blue;*/
}

.settingDescription {
    padding-left: 10%;
}

.setting {
    margin-right: 0;
}
/*.line2 {
    width: 100%;
    height: 2%;
    background-color: #706e6e;
    margin-left: 7%;
    margin-top: 2%;
}*/

/*.onOffImg {
    margin-top: 3%;
}*/

.btnApp {
    height: 100px;
    margin-top: 10%;
    margin-bottom: 20%;
}

#deleteBtn {
/*    margin: 0 auto;*/
    height: 100%;
    background-color: #c0392b;
    font-size: 20px;
    color: white;
}

/* Edit profile */

.testAvatar {
    padding-top: 2%;
}

.description h3 {
    color: black;
}

.description {
    color: #706e6e;
    background-color: #2bc0d4;
    opacity: 0.5;
    height: 50px;
    border-top-color: #7abbc3;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #706e6e;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 2% 0;
}

.text {
    width: 100%;
}

.btn-primary {
    background-color: #2bc0d4;
    width: 100%;
    height: 70px;
}

.selects {
    width: 100%;
    border-style: none;
    color: #706e6e;
}

.text-area {
    width: 100%;
    border-style: none;
    background-color: #eaeded;
}

.description h3 {
    margin: 7% auto;
}

.name{
    padding-left: 5%;
}

/* profileView */

.profile {
    border-bottom-style: solid;
    border-bottom-color: #7abbc3;
    border-bottom-width: 1px;
    padding-left: 0;
}

.profileName {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #eaeded;
}

.profileImg {
    margin: 1%;
    width: 98%;
    height: 300px;
    background-color: #7abbc3;
    border-style: none;
    border-radius: 2% 2% 15% 15%;
}

.chatIcon {
    margin-top: 1%;

}

.buttons {
    padding-bottom: 20px;
}

/* chat_template */

.feed{
    border-bottom-style: solid;
    border-bottom-color: #7abbc3;
    border-bottom-width: 1px;
    padding-left: 2%;
/*    background-color: pink;*/
}

.feedAvatar {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left:  0;
/*    background-color: blue;*/
}

.feedDescription p {
/*    background-color: red;*/

}

/*chatWindow*/

.container {
    height: 100%;
}

.row {
    height: 100%;
}

.chatWindow {
    height: 100%;
}

.stage {
    background-color: #ffffff;
    height: 100%;
}

